<launch>

    <include file="$(find sensors)/launch/usv_simulation.launch" />

    <node pkg="sensors" type="pid" name="pid" />

    <node pkg="sensors" type="cs_ch_5.py" name="cs_ch_5" />

    <!--Launch rosbag to record topics -->
    <node type="record" pkg="rosbag" name="recorder" args="record -a -o $(find sensors)/bags/pid/u_0,8_psi_1,0" />

</launch>
