<launch>

    <include file="$(find sensors)/launch/usv_simulation.launch" />

    <node pkg="sensors" type="pid" name="pid" />

    <node pkg="sensors" type="cs_ch_4.py" name="cs_ch_4" />

    <!--Launch rosbag to record topics -->
    <node type="record" pkg="rosbag" name="recorder" args="record -a -o /home/alex/Documents/rasp_ws/src/sensors/bags/pid/u_1,4_psi_ref" />

</launch>
