<launch>


    <include file="$(find sensors)/launch/aitst.launch" />

    <node pkg="sensors" type="tracking_los" name="tracking_los" />

    <node pkg="sensors" type="sast_pool_infinity_trajectory.py" name="sast_pool_infinity_trajectory" />

    <include file="$(find sensors)/launch/usv_simulation.launch" />

    <!--Launch rosbag to record topics -->
    <!--node type="record" pkg="rosbag" name="recorder" args="record -a -o $(find sensors)/bags/aitst/sim" /-->

</launch>
