<launch>

    <include file="$(find sensors)/launch/usv_simulation.launch" />

   <node pkg="sensors" type="waypoints.py" name="waypoints" />

    <node name="ddpg_guidance" pkg="sensors" type="ddpg_guidance.py" >
	<param name = "speed_equation" value = "0" />
    </node>

    <include file="$(find sensors)/launch/asmc.launch" />
    <!--Launch rosbag to record topics -->
    <node type="record" pkg="rosbag" name="recorder" args="record -a -o /home/alex/Documents/rasp_ws/src/sensors/bags/ddpg/wo_speed/straight" />

</launch>
