<launch>

    <include file="$(find vectornav)/launch/vectornav.launch" />

    <include file="$(find sensors)/launch/tracking_aitsmc.launch" />

    <include file="$(find sensors)/launch/ardumotors.launch" />

    <node name="pool_infinity_trajectory" pkg="sensors" type="pool_infinity_trajectory.py" >
	<param name = "trajectory" value = "traj0" />
    </node>

    <!--Launch rosbag to record topics -->
    <node type="record" pkg="rosbag" name="recorder" args="record -a -o $(find sensors)/bags/tracking_aitsmc/payload_pool" />

</launch>
