<launch>

    <node pkg="sensors" type="ins_2d" name="ins_2d" />

    <include file="$(find sensors)/launch/tracking_aitsmc.launch" />

    <include file="$(find sensors)/launch/ardumotors.launch" />

    <node pkg="sensors" type="pool_infinity_trajectory.py" name="pool_infinity_trajectory" />

    <!--Launch rosbag to record topics -->
    <node type="record" pkg="rosbag" name="recorder" args="record -a -o $(find sensors)/bags/tracking_aitsmc/payload_pool" />

</launch>
