<launch>

    <node pkg="sensors" type="imu" name="imu" />

    <node pkg="sensors" type="backstepping_controller_c.py" name="backstepping_controller_c" />

    <node pkg="sensors" type="motors.py" name="motors" />

    <node pkg="sensors" type="cs_GPSh.py" name="cs_GPSh" />

    <!--Launch rosbag to record topics -->
    <node type="record" pkg="rosbag" name="recorder" args="record -a -o /home/ubuntu/catkin_ws/src/sensors/bags/CompensatorSaH/0,5_speed_GPS_heading" />

</launch>
