<launch>

    <node pkg="sensors" type="dynamic_model_simulate" name="dynamic_model_simulate" />

    <node pkg="sensors" type="LOS2sh.py" name="LOS2sh" />

    <node name="rl_u_psi" pkg="sensors" type="rl_u_psi.py" >
	<param name = "model" value = "exp42_example9000" />
    </node>

    <!--Launch rosbag to record topics -->
    <node type="record" pkg="rosbag" name="recorder" args="record -a -o /home/alex/Documents/rasp_ws/src/sensors/bags/rl_u_psi/exp42_9000_los" />

</launch>
