<launch>


    <include file="$(find sensors)/launch/tracking_control_fxteso_antsm.launch" />

    <node pkg="sensors" type="pool_trajectory_2.py" name="pool_trajectory_2" />

    <include file="$(find sensors)/launch/usv_simulation.launch" />

    <!--Launch rosbag to record topics -->
    <!--node type="record" pkg="rosbag" name="recorder" args="record -a -o $(find sensors)/bags/tracking_control_antsmc/sim" /-->

</launch>
