<launch>


    <include file="$(find sensors)/launch/tracking_control_fxteso_antsm.launch" />

    <node name="fxteso_pool_trajectory" pkg="sensors" type="fxteso_pool_trajectory.py" >
	<!--param name = "trajectory" value = "fxteso_infinity" /-->
    <param name = "trajectory" value = "fxteso_circle" />
    <!--param name = "trajectory" value = "fxteso_line" /-->
    </node>

    <include file="$(find sensors)/launch/usv_simulation.launch" />

    <!--Launch rosbag to record topics -->
    <!--node type="record" pkg="rosbag" name="recorder" args="record -a -o $(find sensors)/bags/tracking_control_antsmc/sim" /-->

</launch>
