<launch>

    <include file="$(find vectornav)/launch/vectornav.launch" />

    <node pkg="usvspeedcontroller" type="usvspeedcontroller_node" name="usvspeedcontroller_node" />

    <node pkg="sensors" type="ardumotors.py" name="ardumotors" />

    <node pkg="sensors" type="trial_1.py" name="trial_1" />

    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" args = "/dev/ttyUSB1" />

</launch>
