<launch>

    <include file="$(find sensors)/launch/usv_simulation.launch" />

    <node pkg="sensors" type="cs_vh_2.py" name="cs_vh_2" />

    <node name="adpdrl" pkg="sensors" type="adpdrl.py" >
	<param name = "model" value = "exp50_example6000" />
    </node>

    <!--Launch rosbag to record topics -->
    <node type="record" pkg="rosbag" name="recorder" args="record -a -o /home/alex/Documents/rasp_ws/src/sensors/bags/adpdrl/u_0,7_psi_0,4v" />

</launch>
