<launch>

    <node pkg="sensors" type="imu" name="imu" />

    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" args = "/dev/ttyUSB1" />

    <node pkg="sensors" type="ardumotors.py" name="ardumotors" />

    <node pkg="sensors" type="LOSsh.py" name="LOSsh" />

    <node name="asmc" pkg="sensors" type="asmc" >
	<param name = "k_u" value = "0.1" />
	<param name = "k_psi" value = "0.05" />
	<param name = "kmin_u" value = "0.05" />
	<param name = "kmin_psi" value = "0.05" />
	<param name = "k2_u" value = "0.02" />
	<param name = "k2_psi" value = "0.1" />
	<param name = "mu_u" value = "0.05" />
	<param name = "mu_psi" value = "0.005" />
	<param name = "lambda_u" value = "0.001" />
	<param name = "lambda_psi" value = "1" />
	<param name = "lambda_psi_i" value = "0.2" />
    </node>

    <!--Launch rosbag to record topics -->
    <node type="record" pkg="rosbag" name="recorder" args="record -a -o /home/ubuntu/catkin_ws/src/sensors/bags/asmc/p_LOS" />

</launch>
