<?xml version="1.0"?>
<robot name="boat">

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <link name="boat">
    <visual>
    	<!--origin rpy="1.57075 3.141592 -1.57075" xyz="0.55 -0.375 0.2"/-->
      <origin rpy="3.141592 0 0" xyz="0 0 -0.2"/>
      <geometry>
        <!--mesh filename="package://sensors/meshes/AssemblyForGazebo.STL" scale="0.001 0.001 0.001"/-->
        <mesh filename="package://sensors/meshes/vtec_s3.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="white"/>
    </visual>

    <!--collision>
    	<origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="1 0.75 0.5"/>
      </geometry>
    </collision>

    <inertial>
      <origin rpy="3.1416 0 0" xyz="0 0 0"/>
      <mass value="30"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="4.1"/>
    </inertial-->


  </link>
</robot>
