<launch>

    <node pkg="sensors" type="dynamic_model_simulate" name="dynamic_model_simulate" />

    <node name="rl_control" pkg="sensors" type="rl_control.py" >
	<param name = "model" value = "example24000" />
    </node>

    <!--Launch rosbag to record topics -->
    <node type="record" pkg="rosbag" name="recorder" args="record -a -o /home/ubuntu/catkin_ws/src/sensors/bags/rl/24000" />

</launch>
