<launch>

    <include file="$(find vectornav)/launch/vectornav.launch" />

    <include file="$(find sensors)/launch/ardumotors.launch" />

    <include file="$(find sensors)/launch/tracking_sast2.launch" />

    <node pkg="sensors" type="pool_circle_trajectory.py" name="pool_circle_trajectory" />
    
    <!--Launch rosbag to record topics -->
    <node type="record" pkg="rosbag" name="recorder" args="record -a -o $(find sensors)/bags/sast/pool" />

</launch>
