<launch>

    <node pkg="sensors" type="ins_2d" name="ins_2d" />

    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" args = "/dev/ttyUSB1" />

    <node pkg="sensors" type="ardumotors.py" name="ardumotors" />

    <node pkg="sensors" type="cu_cr.py" name="cu_cr" />

    <include file="$(find sensors)/launch/fixed_time_asmc.launch" />

    <!--Launch rosbag to record topics -->
    <node type="record" pkg="rosbag" name="recorder" args="record -a -o /home/ubuntu/catkin_ws/src/sensors/bags/fixed_time/u_1_r_pi8" />

</launch>
