<launch>

    <node pkg="sensors" type="imu" name="imu" />

    <node pkg="sensors" type="heading_controller_c.py" name="heading_controller_c" />

    <node pkg="sensors" type="motors.py" name="motors" />

    <node pkg="sensors" type="GPSh_2p.py" name="GPSh_2p" />

    <!--Launch rosbag to record topics -->
    <node type="record" pkg="rosbag" name="recorder" args="record -a -o /home/ubuntu/catkin_ws/src/sensors/bags/CompensatorH/GPS2_heading" />

</launch>
