<launch>

    <include file="$(find vectornav)/launch/vectornav.launch" />

    <include file="$(find sensors)/launch/ardumotors.launch" />

    <node pkg="sensors" type="waypoints3.py" name="waypoints3" />

    <node name="ilos" pkg="sensors" type="ilos.py" >
	<param name = "speed_equation" value = "0" />
    </node>

    <include file="$(find sensors)/launch/asmc.launch" />

    <!--Launch rosbag to record topics -->
    <node type="record" pkg="rosbag" name="recorder" args="record -a -o /home/ubuntu/catkin_ws/src/sensors/bags/ilos/wo_speed/zz" />

</launch>
