<launch>


    <include file="$(find sensors)/launch/tracking_ismc.launch" />

    <node name="pool_infinity_trajectory" pkg="sensors" type="pool_infinity_trajectory.py" >
	<param name = "trajectory" value = "traj0" />
    </node>

    <include file="$(find sensors)/launch/usv_simulation.launch" />

    <!--Launch rosbag to record topics -->
    <!--node type="record" pkg="rosbag" name="recorder" args="record -a -o $(find sensors)/bags/tracking_ismc/sim" /-->

</launch>
