<launch>

    <include file="$(find vectornav)/launch/vectornav.launch" />

    <node pkg="usvnucontroller" type="usvnucontroller_node" name="usvnucontroller_node" />

    <node pkg="sensors" type="trialnu_2x5.py" name="trialnu_2x5" />

    <node pkg="sensors" type="ardumotors.py" name="ardumotors" />

    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" args = "/dev/ttyUSB1" />

</launch>
